USE [Project_Spring]
GO
/****** Object:  StoredProcedure [dbo].[list_board]    Script Date: 2023-06-26 오전 11:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- http://databaser.net/moniwiki/wiki.php/%EA%B3%84%EC%B8%B5%ED%98%95%EA%B2%8C%EC%8B%9C%ED%8C%90 참고
-- select * from board
-- exec list_board 1, 15
-- select * from board where del = 0
-- set nocount on -- 쿼리문 또는 프로시저의 영향을 받은 행 수를 나타내는 메세지가 결과 집합의 일부로 반환되지 않도록 한다.
-- set statistics io off -- ON으로 할 시 통계 정보가 표시


ALTER proc [dbo].[list_board]

	@page_num int,
	@page_row_cnt int

as

	declare
		@max_post_num int,
		@begin int,
		@end int,
		@end_ck int,
		@cnt int

set @max_post_num = (select count(arr) from board where del = 0); -- 2023/06/19 수정
set	@begin = @max_post_num - ((@page_num) * @page_row_cnt);
set @end = @max_post_num - ((@page_num - 1) * @page_row_cnt);
set @end_ck = case when @end > 0 then 0 else 1 end;
set @begin = case when @end > 0 then @begin else 1 end;
set @end = case when @end > 0 then @end else @page_row_cnt end;


IF OBJECT_ID('tempdb..#Temp') IS NOT NULL
IF OBJECT_ID('tempdb..#Temp') IS NOT NULL
BEGIN
       DROP TABLE #Temp
END


	--;with t_recursion_board(level, postNO, arr, arrNum, parentNO, del, title, content, writedate, imageFileName, id, sort)
	;with t_recursion_board(level, postNO, arr, parentNO, del, title, content, writedate, imageFileName, id, sort)
	as
	(
		--Root
	  --select 0 as level, postNO, arr, ROW_NUMBER() OVER(ORDER BY postNO ASC) as arrNum, parentNO, del, title, content, writedate, imageFileName, id, cast(postNO as varchar(8000)) as sort
		select 0 as level, postNO, arr, parentNO, del, title, content, writedate, imageFileName, id, cast(postNO as varchar(8000)) as sort
		from board as a
		where parentNO = 0 -- root의 조건
		and del = 0
		--and rowNum between @begin and @end

		union all

		--select b.level + 1 as level, a.postNO, a.arr, ROW_NUMBER() OVER(ORDER BY b.postNO ASC) as arrNum, a.parentNO, a.del, a.title, a.content, a.writedate, a.imageFileName, a.id, cast(b.sort as varchar(4000)) + cast(a.postNO as varchar(4000))
		select b.level + 1 as level, a.postNO, a.arr, a.parentNO, a.del, a.title, a.content, a.writedate, a.imageFileName, a.id, cast(b.sort as varchar(4000)) + cast(a.postNO as varchar(4000))
		from board as a inner join t_recursion_board as b -- 재귀 쿼리
		on a.parentNO = b.postNO
		where a.del = 0
		--and rowNum between @begin and @end
	)

	--select *, ROW_NUMBER() OVER(ORDER BY arr ASC) from board as T where arr Between @begin and @end

		select top(@page_row_cnt)
		a.level,
		a.postNO,
		a.arr,
		C.arrNum,
		a.parentNO,
		a.del,
		a.title,
		a.content,
		--writedate,
		convert(varchar(10), writedate, 23) as writeDate,
		imageFileName,
		id,
		case when parentNO > 0 then '[' + cast(parentNO as varchar) + ']' else '' end + cast(replicate(' RE: ', level) + cast(title as varchar) as varchar(250)) as tree_title
		--from t_recursion_board as a
		--from t_recursion_board as M FULL OUTER join (select postNO, ROW_NUMBER() OVER(ORDER BY arr ASC) as arrNum from t_recursion_board) as T on M.postNO = T.postNO
		from t_recursion_board a
		FULL OUTER JOIN (select postNO, del, ROW_NUMBER() OVER(ORDER BY arr asc) as arrNum from board where del = 0) as C on C.postNO = a.postNO
		where C.arrNum Between @begin and @end -- 임시 2023/06/23
		and C.del = 0
		--where arrNum between @begin and @end
		--where arrNum between @begin and @end
		--where arrNum >= @begin and arrNum <= @end
		order by
			--arrNum desc,
			arrNum desc,
			case when level = 0 then '0' else sort end
			option(maxdop 1);
go

